@model AgroMais.Models.Clientes

@using AgroMais.Models

@{
    ViewData["Title"] = "Clientes";
}

<div id="header" class="no-print">
    <div id="topo">
        <h3><i class="fa fa-users topo"></i>Lista de clientes cadastrados</h3>
        <div id="div-btn-add">
            <p>Cadastrar novo cliente</p>
            <a id="btn-add" href="/Home/addCliente" style="text-decoration:none;"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>
<div id="container" class="no-print">
    <div id="lista">
        <table id="datatable" class="dataTable compact hover order-column row-border" style="width:100%">
            <thead>
                <tr>
                    <th class="col-md-3">Nome</th>
                    <th class="col-md-3">Endereço</th>
                    <th class="col-md-2">Telefone</th>
                    <th class="col-md-2">Qtd. serviços</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.listaclientes.Count() > 0)
                {
                    foreach (var cliente in Model.listaclientes)
                    {
                        <tr id="Cliente_@cliente.CLI_ID" value="@cliente.CLI_ID">
                            <th class="col-md-3 texto-lista">@cliente.CLI_NOME </th>
                            <td class="col-md-3 texto-lista">@cliente.CLI_MUNICIPIO</td>
                            <td class="col-md-2 texto-lista">@cliente.CLI_TELEFONE</td>
                            <td class="col-md-2 texto-lista">3</td>
                            <td class="col-md-2" style="text-align:right;">
                                <button class="btn btn-primary btn-lista" id="@cliente.CLI_ID" onclick="abrirModalCliente(this, event)"><i class="fa fa-search"></i></button>
                                <button class="btn btn-warning btn-lista"><i class="fa fa-pencil" style="color: #fff;"></i></button>
                                <button class="btn btn-danger btn-lista"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><span>Nenhum cliente encontrado</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal">
    <img src="/Content/img/CIMA.jpg" id="topo-modal" class="print">
    <div class="modal-content">
        <div class="btn-modal no-print" style="text-align: right;">
            <button class="btn btn-danger close" onclick="fecharModal()" id="close"><i class="fa fa-close"></i></button>
        </div>
        <div id="info-modal" class="conteudo exemplo">
            <!--Conteúdo-->
        </div>
        <div class="btn-modal no-print" style="text-align: center;">
            <button class="btn btn-success" onclick="window.print()"><i class="fa fa-print"></i></button>
            <p>Imprimir</p>
        </div>
    </div>
    <img src="/Content/img/BAIXO.jpg" id="base-modal" class="print">
</div>

<script>
    

    function abrirModalCliente(btn, e) {
    e.preventDefault(btn);
    var id = $(btn).attr('id');

    $('#modal').addClass('modal-show');
    $('.modal-content').addClass('modal-content-show');

    var modal = `<h1 class="titulo-modal">Informações do cliente</h1>
            <p><b>Nome: </b>@Model.listaclientes[5].CLI_NOME</p>
            <p><b>CPF: </b>@Model.listaclientes[5].CLI_CPF</p>
            <p><b>CNPJ: </b>@Model.listaclientes[5].CLI_CNPJ</p>
            <p><b>RG: </b>@Model.listaclientes[5].CLI_RG</p>
            <p><b>Idade: </b>@Model.listaclientes[5].CLI_IDADE</p>
            <p><b>Data de Nascimento: </b>@Model.listaclientes[5].CLI_DATA_NASC</p>
            <p><b>Profissão: </b>@Model.listaclientes[5].CLI_PROFISSAO</p>
            <p><b>Telefone: </b>@Model.listaclientes[5].CLI_TELEFONE</p>
            <p><b>Celular: </b>@Model.listaclientes[5].CLI_CELULAR</p>
            <p><b>Email: </b>@Model.listaclientes[5].CLI_EMAIL</p>
            <p><b>Endereço completo: </b>@Model.listaclientes[1].CLI_LOGRADOURO, N°@Model.listaclientes[1].CLI_NUMERO, @Model.listaclientes[1].CLI_BAIRRO, @Model.listaclientes[5].CLI_MUNICIPIO - @Model.listaclientes[1].CLI_UF. CEP:@Model.listaclientes[1].CLI_CEP</p>
            <br>
            <br>`;
    document.getElementById('info-modal').innerHTML = modal;
}
</script>