@model AgroMais.Models.Clientes
@using AgroMais
@{ViewData["Title"] = "Clientes";}

<div id="header" class="no-print">
    <div id="topo">
        <h3><i class="fa fa-users topo"></i>Lista de clientes cadastrados</h3>
        <div id="div-btn-add">
            <p>Cadastrar novo cliente</p>
            <button id="btn-add" onclick="abrirModalAdicionarCliente()" style="text-decoration:none; cursor:pointer;"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>

<div id="container" class="no-print">
    <div id="lista">
        <table id="datatable" class="dataTable compact hover order-column row-border" style="width:100%;">
            <thead  style="text-align:center;">
                <tr>
                    <th class="col-md-3">Nome</th>
                    <th class="col-md-3">Município</th>
                    <th class="col-md-2">Celular</th>
                    <th class="col-md-2">Serviços</th>
                    <th class="col-md-2">Propriedades</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.listaclientes.Count() > 0)
                {
                    foreach (var cliente in Model.listaclientes)
                    {
                        <tr id="Cliente_@cliente.CLI_ID" value="@cliente.CLI_ID" >

                            <input type="hidden" id="nome_@cliente.CLI_ID" value="@cliente.CLI_NOME" />
                            <input type="hidden" id="profissao_@cliente.CLI_ID" value="@cliente.CLI_PROFISSAO" />
                            <input type="hidden" id="sexo_@cliente.CLI_ID" value="@cliente.CLI_SEXO" />
                            <input type="hidden" id="nascimento_@cliente.CLI_ID" value="@cliente.CLI_DATA_NASC" />
                            <input type="hidden" id="cpf_@cliente.CLI_ID" value="@cliente.CLI_CPF" />
                            <input type="hidden" id="cnpj_@cliente.CLI_ID" value="@cliente.CLI_CNPJ" />
                            <input type="hidden" id="rg_@cliente.CLI_ID" value="@cliente.CLI_RG" />
                            <input type="hidden" id="telefone_@cliente.CLI_ID" value="@cliente.CLI_TELEFONE" />
                            <input type="hidden" id="celular_@cliente.CLI_ID" value="@cliente.CLI_CELULAR" />
                            <input type="hidden" id="email_@cliente.CLI_ID" value="@cliente.CLI_EMAIL" />
                            <input type="hidden" id="cep_@cliente.CLI_ID" value="@cliente.CLI_CEP" />
                            <input type="hidden" id="logradouro_@cliente.CLI_ID" value="@cliente.CLI_LOGRADOURO" />
                            <input type="hidden" id="complemento_@cliente.CLI_ID" value="@cliente.CLI_COMPLEMENTO" />
                            <input type="hidden" id="bairro_@cliente.CLI_ID" value="@cliente.CLI_BAIRRO" />
                            <input type="hidden" id="municipio_@cliente.CLI_ID" value="@cliente.CLI_MUNICIPIO" />
                            <input type="hidden" id="uf_@cliente.CLI_ID" value="@cliente.CLI_UF" />
                            <input type="hidden" id="numero_@cliente.CLI_ID" value="@cliente.CLI_NUMERO" />
                            <input type="hidden" id="dataNascimento_@cliente.CLI_ID" value="@cliente.NASCIMENO" />

                            <td class="col-md-2 texto-lista">@cliente.CLI_NOME </td>
                            <td class="col-md-2 texto-lista">@cliente.CLI_MUNICIPIO - @cliente.CLI_UF</td>
                            <td class="col-md-2 texto-lista">@cliente.CLI_CELULAR</td>
                            <td class="col-md-2 texto-lista"><button style=" cursor: pointer;" class="btn btn-secondary btn-lista">3 Serviços</button></td>
                            <td class="col-md-2 texto-lista"><button style=" cursor: pointer;" class="btn btn-secondary btn-lista">3 propriedades</button></td>
                            <td class="col-md-2" style="text-align:center;">
                                <button style=" cursor: pointer;" class="btn btn-primary btn-lista" onclick="abrirModalDetalhesCliente(@cliente.CLI_ID)"><i class="fa fa-search"></i></button>
                                <button style=" cursor: pointer;" class="btn btn-warning btn-lista" onclick="abrirModalAtualizarCliente(@cliente.CLI_ID)"><i class="fa fa-pencil" style="color: #fff;"></i></button>
                                <button style=" cursor: pointer;" class="btn btn-danger btn-lista"  onclick="abrirModalDeletarCliente(@cliente.CLI_ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><span>Nenhum cliente encontrado</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal">
    <img src="/Content/img/CIMA.jpg" id="topo-modal" class="print">
    <div class="modal-content" id="modal-content">
        <!--MODAL-->
    </div>
    <img src="/Content/img/BAIXO.jpg" id="base-modal" class="print">
</div>

<script>
    function adicionarCliente() {
        var data = $('#formulario').serializeArray();
        var resultado = false;
        $.ajax({
            type: 'post',
            url: '@Url.Action("adicionarCliente", "Home")',
            data: data,
            dataType: 'json',
            success: function (retorno) {
                if (retorno.erro === false)
                {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                    setTimeout(function () { document.location.reload(true); }, 2000);
                }
                else {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                }
                resultado = true;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMensagem(thrownError, "ERRO", 3000);
            }
        });
        return resultado;
    };
    function atualizarCliente() {

        var data = $('#formulario').serializeArray();
        debugger;
        var resultado = false;
        $.ajax({
            type: 'post',
            url: '@Url.Action("atualizarCliente", "Home")',
            data: data,
            dataType: 'json',
            success: function (retorno) {
                if (retorno.erro === false)
                {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                    setTimeout(function () { document.location.reload(true); }, 2000);
                }
                else {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                }
                resultado = true;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMensagem(thrownError, "ERRO", 3000);
            }
        });
        return resultado;
    };
    function deletarCliente() {
        var data = $('#formulario').serializeArray();
        var resultado = false;
        $.ajax({
            type: 'post',
            url: '@Url.Action("deletarCliente", "Home")',
            data: data,
            dataType: 'json',
            async: false,
            success: function (retorno) {
                if (retorno.erro === false) {
                    fecharModal()
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                    setTimeout(function () { document.location.reload(true); }, 2000);
                }
                else {
                    fecharModal()
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                }
                resultado = true;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMensagem(thrownError, "ERRO", 3000);
            }
        });
        return resultado;
    };
</script> 