@model AgroMais.Models.Servicos
@using AgroMais
@{ViewData["Title"] = "Serviços";}

<div id="header">
    <div id="topo">
        <h3><i class="fa fa-home topo"></i>Lista de Serviços em aberto</h3>
        <div id="div-btn-add">
            <p>Adcionar serviço</p>
            <button id="btn-add" onclick="abrirModalAdicionarServico()" style="text-decoration:none; cursor:pointer;"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>

<div id="container" class="no-print">
    <div id="lista">
        <table id="datatable" class="dataTable compact hover order-column row-border" style="width:100%;">
            <thead style="text-align:center;">
                <tr>
                    <th class="col-md-3">Cliente</th>
                    <th class="col-md-4">Serviço</th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-2">Data do cadastro</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.listaServicos.Count() > 0)
                {
                    foreach (var servico in Model.listaServicos)
                    {
                        <tr id="" value="">
                            <input type="hidden" id="id_@servico.SRV_ID" value="@servico.SRV_ID" />
                            <input type="hidden" id="cliente_@servico.SRV_CLI_ID" value="@servico.SRV_CLI_ID" />
                            <input type="hidden" id="propriedade_@servico.SRV_PROP_ID" value="@servico.SRV_PROP_ID" />
                            <input type="hidden" id="tipo_@servico.SRV_TIPO" value="@servico.SRV_TIPO" />
                            <input type="hidden" id="status_@servico.SRV_STATUS" value="@servico.SRV_STATUS" />
                            <input type="hidden" id="complemento_@servico.SRV_COMPLEMENTO" value="@servico.SRV_COMPLEMENTO" />
                            <input type="hidden" id="valor_@servico.SRV_VALOR" value="@servico.SRV_VALOR" />
                            <input type="hidden" id="tipoPagamento_@servico.SRV_TIPO_PAGAMENTO" value="@servico.SRV_TIPO_PAGAMENTO" />
                            <input type="hidden" id="statusPagamento_@servico.SRV_STATUS_PAGAMENTO" value="@servico.SRV_STATUS_PAGAMENTO" />
                            <input type="hidden" id="ValorPago_@servico.SRV_VALOR_PAGO" value="@servico.SRV_VALOR_PAGO" />


                            <th class="col-md-3 texto-lista">@servico.CLI_NOME</th>
                            <td class="col-md-3 texto-lista">@servico.SRV_NOME</td>
                            <td class="col-md-2 texto-lista">
                                @if (@servico.SRV_STATUS == 1)
                                {
                                    <span class="badge rounded-pill bg-danger fs-6">Em aberto</span>
                                }
                                else if (@servico.SRV_STATUS == 2)
                                {
                                    <span class="badge rounded-pill bg-warning fs-6">Em andamento</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill bg-success fs-6">Concluido</span>
                                }           
                            </td>
                            <td class="col-md-2 texto-lista">@servico.SRV_DATA_CADASTRO</td>
                            <td class="col-md-2" style="text-align:center;">
                                <button style=" cursor: pointer;" class="btn btn-primary btn-lista" onclick="abrirModalDetalhesCliente(@servico.SRV_ID)"><i class="fa fa-search"></i></button>
                                <button style=" cursor: pointer;" class="btn btn-warning btn-lista" onclick="abrirModalAtualizarCliente(@servico.SRV_ID)"><i class="fa fa-pencil" style="color: #fff;"></i></button>
                                <button style=" cursor: pointer;" class="btn btn-danger btn-lista" onclick="abrirModalDeletarCliente(@servico.SRV_ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><span>Nenhum cliente encontrado</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal modal-show" id="modal">
    <img src="/Content/img/CIMA.jpg" id="topo-modal" class="print">
    <div class="modal-content modal-content-show" id="modal-content">
        <div style="display:flex; justify-content: space-between;">
            <div style="text-align: left;">
                <h1>Adicionar dados do serviço</h1>
            </div>
            <div class="btn-modal no-print" style="text-align: right;">
                <button class="btn btn-danger close" onclick="fecharModal()" id="close"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <br class="dont-print">

        <div id="info-modal" class="conteudo">
            <form class="row" id="formulario">
                <div class="col-md-4 mb-4">
                    <label><b>Cliente:</b></label>
                    <select class="form-select" name="SRV_CLI_ID" id="SRV_CLI_ID" onchange="ListarPropriedades(this)" value="">
                        <option value="" selected>Selecione</option>
                        @foreach (var cliente in Model.listaClientes)
                        {
                            <option value="@cliente.CLI_ID">@cliente.CLI_NOME</option>
                        }
                    </select>
                    <br class="dont-print">
                </div>
                <div class="col-md-4 mb-4">
                    <label><b>Propriedade:</b></label>
                    <select class="form-select" name="SRV_PROP_ID" id="SRV_PROP_ID" value="">
                        <option value="" selected>Selecione</option>
                    </select>
                    <br class="dont-print">
                </div>
                <div class="col-md-2 mb-2">
                    <label><b>Tipo do serviço:</b></label>
                    <select class="form-select" name="SRV_TIPO" id="SRV_TIPO" value="">
                        <option value="" selected>Selecione</option>
                        @foreach (var servico in Model.listaServicos)
                        {
                            <option value="@servico.SRV_ID">@servico.SRV_NOME</option>
                        }
                    </select>
                    <br class="dont-print">
                </div>
                <div class="col-md-2 mb-2">
                    <label><b>Status do serviço:</b></label>
                    <select class="form-select" name="SRV_STATUS" id="SRV_STATUS" value="">
                        <option value="" selected>Selecione</option>
                        <option value="1">Em aberto</option>
                        <option value="2">Em andamento</option>
                        <option value="3">Concluído</option>
                    </select>
                    <br class="dont-print">
                </div>
                <div class="col-md-4 mb-4">
                    <label><b>Valor:</b></label>
                    <input type="number" class="form-control" value="" name="SRV_VALOR" id="SRV_VALOR">
                    <br class="dont-print">
                </div>
                <div class="col-md-4 mb-4">
                    <label><b>Valor pago:</b></label>
                    <input type="number" class="form-control" value="" name="SRV_VALOR_PAGO" id="SRV_VALOR_PAGO">
                    <br class="dont-print">
                </div>
                <div class="col-md-2 mb-2">
                    <label><b>Tipo do pagamento:</b></label>
                    <select class="form-select" name="SRV_TIPO_PAGAMENTO" id="SRV_TIPO_PAGAMENTO" value="">
                        <option value="" selected>Selecione</option>
                        <option value="1">Pix / Dinheiro</option>
                        <option value="2">Débito</option>
                        <option value="3">Crédito</option>
                    </select>
                    <br class="dont-print">
                </div>
                <div class="col-md-2 mb-2">
                    <label><b>Status do pagamento:</b></label>
                    <select class="form-select" name="SRV_STATUS" id="SRV_STATUS" value="">
                        <option value="" selected>Selecione</option>
                        <option value="1">Atrasado</option>
                        <option value="2">Falta pagar</option>
                        <option value="3">Pago</option>
                    </select>
                    <br class="dont-print">
                </div>
                <div class="col-md-12 mb-12">
                    <label><b>Complemento:</b></label>
                    <br class="dont-print">
                    <textarea name="SRV_COMPLEMENTO" id="SRV_COMPLEMENTO" class="form-control mb-4"></textarea>
                </div>


            </form>
        </div>
        <div class="btn-modal no-print" style="text-align: center;">
            <button class="btn-cadastrar" onclick="adicionarServico()"><i class="fa fa-plus"></i>   Adicionar</button>
        </div>
    </div>
    <img src="/Content/img/BAIXO.jpg" id="base-modal" class="print">
</div>

<script>
    function abrirModalAdicionarServico() {



        abrirModal()
    };

    function ListarPropriedades(check) {
        var id = $(check).val();
        $.ajax({
            type: 'get',
            url: '@Url.Action("BuscarListaPropriedades", "Home")',
            data: "id=" + id,
            contentType: false,
            processData:false,
            dataType: "json",
            success: function (retorno) {
                $("#SRV_PROP_ID").empty()

                for (var x = 0; x < retorno.retorno.length; x++){
                    $("#SRV_PROP_ID").append('<option value="' + retorno.retorno[x].PROP_ID + '">' + retorno.retorno[x].PROP_NOME + '</option>')
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {}
        });
    }


    function adicionarServico() {
        var data = $('#formulario').serializeArray();
        debugger;
        var resultado = false;
        $.ajax({
            type: 'post',
            url: '@Url.Action("adicionarServico", "Home")',
            data: data,
            dataType: 'json',
            success: function (retorno) {
                if (retorno.erro === false)
                {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                    setTimeout(function () { document.location.reload(true); }, 2000);
                }
                else {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                }
                resultado = true;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMensagem(thrownError, "ERRO", 3000);
            }
        });
        return resultado;
    };
    function atualizarServico() {

        var data = $('#formulario').serializeArray();
        debugger;
        var resultado = false;
        $.ajax({
            type: 'post',
            url: '@Url.Action("atualizarServico", "Home")',
            data: data,
            dataType: 'json',
            success: function (retorno) {
                if (retorno.erro === false)
                {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                    setTimeout(function () { document.location.reload(true); }, 2000);
                }
                else {
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                }
                resultado = true;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMensagem(thrownError, "ERRO", 3000);
            }
        });
        return resultado;
    };
    function deletarServico() {
        var data = $('#formulario').serializeArray();
        var resultado = false;
        $.ajax({
            type: 'post',
            url: '@Url.Action("deletarServico", "Home")',
            data: data,
            dataType: 'json',
            async: false,
            success: function (retorno) {
                if (retorno.erro === false) {
                    fecharModal()
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                    setTimeout(function () { document.location.reload(true); }, 2000);
                }
                else {
                    fecharModal()
                    ShowMensagem(retorno.mensagem, retorno.status, 3000);
                }
                resultado = true;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMensagem(thrownError, "ERRO", 3000);
            }
        });
        return resultado;
    };
</script> 